/* line 2, ../sass/style.scss */
a:focus {
  text-decoration: none;
}

/* line 6, ../sass/style.scss */
.home {
  background: #111;
}

/* line 9, ../sass/style.scss */
.logo {
  width: 100px;
  display: block;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
}
/* line 16, ../sass/style.scss */
.logo img {
  width: 100%;
}

/* line 23, ../sass/style.scss */
.nav-open .menu .text {
  color: #fff;
}
/* line 27, ../sass/style.scss */
.nav-open .menu .container-barres-menu .barre {
  background-color: #fff;
}

/* line 33, ../sass/style.scss */
.menu-items {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
/* line 48, ../sass/style.scss */
.menu-items.is-visible {
  display: block;
  opacity: .95;
  z-index: 50;
  transform: scale(1);
  -webkit-transform: scale(1);
}
/* line 56, ../sass/style.scss */
.menu-items ul {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  padding: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 64, ../sass/style.scss */
.menu-items ul li {
  display: block;
  margin: 10px 0;
}
/* line 67, ../sass/style.scss */
.menu-items ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  font-family: "bebas-neue";
  letter-spacing: .13em;
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 76, ../sass/style.scss */
.menu-items ul li a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 84, ../sass/style.scss */
.menu {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  z-index: 60;
  font-family: "bebas-neue";
  cursor: pointer;
}
/* line 92, ../sass/style.scss */
.menu .text {
  display: block;
  float: left;
  font-size: 18px;
  letter-spacing: .05em;
  line-height: 15px;
  margin-right: 5px;
}
/* line 100, ../sass/style.scss */
.menu .container-barres-menu {
  display: block;
  float: left;
}
/* line 103, ../sass/style.scss */
.menu .container-barres-menu .barre {
  width: 20px;
  height: 2px;
  display: block;
  background: #fff;
  margin-bottom: 4px;
}

/* line 112, ../sass/style.scss */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.3;
}

/* line 120, ../sass/style.scss */
.intro-site {
  width: 250px;
  height: 250px;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
}
/* line 131, ../sass/style.scss */
.intro-site .text-intro {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "open sans";
  letter-spacing: .08em;
  width: 130%;
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: 200;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
}
/* line 146, ../sass/style.scss */
.intro-site .text-intro strong {
  font-weight: 600;
}
/* line 150, ../sass/style.scss */
.intro-site .text-intro .title-text {
  font-size: 50px;
  font-family: "bebas-neue";
  letter-spacing: .08em;
}

/* line 157, ../sass/style.scss */
.container-barres {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
}
/* line 162, ../sass/style.scss */
.container-barres .barre {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-bottom: 60px;
}
/* line 168, ../sass/style.scss */
.container-barres .barre .point {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 181, ../sass/style.scss */
.container-barres .barre .point:after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
}
/* line 195, ../sass/style.scss */
.container-barres .barre .point .text-point {
  opacity: 0;
  position: absolute;
  bottom: calc(100%);
  color: #fff;
  width: 250px;
  transform: translateX(9px);
  -webkit-transform: translateX(9px);
  -moz-transform: translateX(9px);
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 207, ../sass/style.scss */
.container-barres .barre .point .text-point:before {
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
}
/* line 215, ../sass/style.scss */
.container-barres .barre .point .text-point .title-point {
  margin-left: 10px;
  font-family: "bebas-neue";
  letter-spacing: .07em;
  font-size: 16px;
  line-height: 16px;
}
/* line 222, ../sass/style.scss */
.container-barres .barre .point .text-point .location {
  font-family: "open sans";
  margin-left: 10px;
  font-size: 12px;
  font-weight: 100;
}
/* line 230, ../sass/style.scss */
.container-barres .barre .point:hover, .container-barres .barre .point.is-open {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 232, ../sass/style.scss */
.container-barres .barre .point:hover .text-point, .container-barres .barre .point.is-open .text-point {
  opacity: 1;
  bottom: calc(100% + 5px);
}

/* line 244, ../sass/style.scss */
.single .container-img-single, .page-template-contact .container-img-single, .page-template-page-template .container-img-single {
  position: fixed;
  width: 40%;
  height: 100%;
  background: #26221f;
}
/* line 250, ../sass/style.scss */
.single .container-img-single .img-background-single, .page-template-contact .container-img-single .img-background-single, .page-template-page-template .container-img-single .img-background-single {
  background-size: cover;
  opacity: .6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center center;
}
/* line 260, ../sass/style.scss */
.single .container-img-single .background-left, .page-template-contact .container-img-single .background-left, .page-template-page-template .container-img-single .background-left {
  position: absolute;
  width: 80%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 */
}
/* line 271, ../sass/style.scss */
.single .container-img-single .progressBarre, .page-template-contact .container-img-single .progressBarre, .page-template-page-template .container-img-single .progressBarre {
  width: 2px;
  display: none;
  position: absolute;
  height: 70%;
  background: rgba(255, 255, 255, 0.5);
  top: 15%;
  left: 30px;
}
/* line 280, ../sass/style.scss */
.single .container-img-single .progressBarre .progressCurrent, .page-template-contact .container-img-single .progressBarre .progressCurrent, .page-template-page-template .container-img-single .progressBarre .progressCurrent {
  width: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s;
  -webkit-transition: .2s;
}
/* line 291, ../sass/style.scss */
.single .container-img-single .progressBarre .top-text, .page-template-contact .container-img-single .progressBarre .top-text, .page-template-page-template .container-img-single .progressBarre .top-text {
  width: 200px;
  position: absolute;
  margin-left: 21px;
  top: -5px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-family: "open sans";
}
/* line 301, ../sass/style.scss */
.single .container-img-single .progressBarre .top-text a, .page-template-contact .container-img-single .progressBarre .top-text a, .page-template-page-template .container-img-single .progressBarre .top-text a {
  color: #fff;
  text-decoration: none;
}
/* line 305, ../sass/style.scss */
.single .container-img-single .progressBarre .top-text:before, .page-template-contact .container-img-single .progressBarre .top-text:before, .page-template-page-template .container-img-single .progressBarre .top-text:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  margin-left: -30px;
  border-radius: 50%;
}
/* line 315, ../sass/style.scss */
.single .container-img-single .progressBarre .top-text:after, .page-template-contact .container-img-single .progressBarre .top-text:after, .page-template-page-template .container-img-single .progressBarre .top-text:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  border-radius: 50%;
  left: 3px;
  background: #fff;
  margin-left: -28px;
}
/* line 326, ../sass/style.scss */
.single .container-img-single .progressBarre .top-text.bottom, .page-template-contact .container-img-single .progressBarre .top-text.bottom, .page-template-page-template .container-img-single .progressBarre .top-text.bottom {
  bottom: 5px;
  top: auto;
}
/* line 331, ../sass/style.scss */
.single .container-img-single .progressBarre .top-text.bottom a, .page-template-contact .container-img-single .progressBarre .top-text.bottom a, .page-template-page-template .container-img-single .progressBarre .top-text.bottom a {
  position: absolute;
}
/* line 339, ../sass/style.scss */
.single .menu, .page-template-contact .menu, .page-template-page-template .menu {
  color: #26221f;
}
/* line 342, ../sass/style.scss */
.single .menu .barre, .page-template-contact .menu .barre, .page-template-page-template .menu .barre {
  background: #26221f;
}
/* line 346, ../sass/style.scss */
.single .container-site, .page-template-contact .container-site, .page-template-page-template .container-site {
  width: 60%;
  float: right;
  padding: 30px;
  padding-bottom: 100px;
  box-sizing: border-box;
  position: relative;
}
/* line 354, ../sass/style.scss */
.single .container-site .title-page, .page-template-contact .container-site .title-page, .page-template-page-template .container-site .title-page {
  font-family: "bebas-neue";
  color: #26221f;
  font-size: 28px;
  margin: 0;
  margin-top: 25px;
}
/* line 361, ../sass/style.scss */
.single .container-site .location-page, .page-template-contact .container-site .location-page, .page-template-page-template .container-site .location-page {
  font-size: 14px;
  margin: 0;
  font-family: "open sans";
  opacity: .6;
  letter-spacing: .04em;
}
/* line 369, ../sass/style.scss */
.single .container-site .container-text-strate, .page-template-contact .container-site .container-text-strate, .page-template-page-template .container-site .container-text-strate {
  margin-top: 30px;
  color: #727272;
  font-family: "open sans";
}
/* line 374, ../sass/style.scss */
.single .container-site .container-text-strate iframe, .page-template-contact .container-site .container-text-strate iframe, .page-template-page-template .container-site .container-text-strate iframe {
  width: 100%;
}
/* line 377, ../sass/style.scss */
.single .container-site .container-text-strate p, .page-template-contact .container-site .container-text-strate p, .page-template-page-template .container-site .container-text-strate p {
  margin-bottom: 30px;
}
/* line 381, ../sass/style.scss */
.single .container-site .container-text-strate blockquote, .page-template-contact .container-site .container-text-strate blockquote, .page-template-page-template .container-site .container-text-strate blockquote {
  border-left: 0;
  padding: 0;
  text-align: center;
  margin: 30px auto;
  max-width: 80%;
}
/* line 387, ../sass/style.scss */
.single .container-site .container-text-strate blockquote p, .page-template-contact .container-site .container-text-strate blockquote p, .page-template-page-template .container-site .container-text-strate blockquote p {
  font-size: 22px;
  font-style: italic;
  font-weight: 200;
  position: relative;
}
/* line 392, ../sass/style.scss */
.single .container-site .container-text-strate blockquote p:before, .page-template-contact .container-site .container-text-strate blockquote p:before, .page-template-page-template .container-site .container-text-strate blockquote p:before {
  content: '';
  width: 20px;
  display: inline-block;
  height: 18px;
  background: url("../images/citation.png") no-repeat;
  background-size: 100%;
  position: absolute;
  margin-left: -35px;
}
/* line 402, ../sass/style.scss */
.single .container-site .container-text-strate blockquote p:after, .page-template-contact .container-site .container-text-strate blockquote p:after, .page-template-page-template .container-site .container-text-strate blockquote p:after {
  content: '';
  width: 20px;
  display: inline-block;
  height: 18px;
  background: url("../images/citation-reverse.png") no-repeat;
  background-size: 100%;
  margin-left: 25px;
  padding-top: 5px;
}
/* line 415, ../sass/style.scss */
.single .container-site .full, .page-template-contact .container-site .full, .page-template-page-template .container-site .full {
  width: 100%;
  height: auto;
}
/* line 420, ../sass/style.scss */
.single .container-three-img, .page-template-contact .container-three-img, .page-template-page-template .container-three-img {
  padding-top: 30px;
  clear: both;
}
/* line 424, ../sass/style.scss */
.single .container-single, .page-template-contact .container-single, .page-template-page-template .container-single {
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 427, ../sass/style.scss */
.single .container-single.content-hidden, .page-template-contact .container-single.content-hidden, .page-template-page-template .container-single.content-hidden {
  opacity: .2;
}
/* line 431, ../sass/style.scss */
.single .next-article, .page-template-contact .next-article, .page-template-page-template .next-article {
  display: block;
  text-align: center;
  font-family: "bebas-neue";
  letter-spacing: .08em;
  font-size: 28px;
  color: #26221f;
  margin-top: 100px;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  opacity: 0;
  transition: .3s;
  -webkit-transition: .3s;
  position: relative;
}
/* line 447, ../sass/style.scss */
.single .next-article .sup-title, .page-template-contact .next-article .sup-title, .page-template-page-template .next-article .sup-title {
  font-size: 13px;
  text-align: center;
  display: block;
  position: relative;
}
/* line 466, ../sass/style.scss */
.single .next-article:after, .page-template-contact .next-article:after, .page-template-page-template .next-article:after {
  content: '';
  width: 1px;
  height: 100px;
  background: #DEDEDE;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  transition: .5s;
  -webkit-transition: .5s;
  transform: translateY(60px);
  -webkit-transform: translateY(60px);
}
/* line 481, ../sass/style.scss */
.single .next-article:hover, .page-template-contact .next-article:hover, .page-template-page-template .next-article:hover {
  text-decoration: none;
}
/* line 485, ../sass/style.scss */
.single .next-article.visible, .page-template-contact .next-article.visible, .page-template-page-template .next-article.visible {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* line 490, ../sass/style.scss */
.single .next-article.visible:after, .page-template-contact .next-article.visible:after, .page-template-page-template .next-article.visible:after {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

/* line 502, ../sass/style.scss */
.page-template-archive .logo, .page-template-archive .menu {
  position: absolute;
}

/* line 507, ../sass/style.scss */
.header-img {
  width: 100%;
  height: 180px;
  background: #222;
  margin-bottom: 50px;
  text-align: center;
  color: #FFF;
  background-size: cover;
  line-height: 180px;
  font-family: "bebas-neue";
  font-size: 30px;
  position: relative;
  letter-spacing: .030em;
}
/* line 521, ../sass/style.scss */
.header-img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
/* line 530, ../sass/style.scss */
.header-img .text {
  z-index: 30;
  position: relative;
}

/* line 538, ../sass/style.scss */
.archive .col6 .preview {
  min-height: 515px;
}
@media screen and (max-width: 728px) {
  /* line 538, ../sass/style.scss */
  .archive .col6 .preview {
    min-height: auto;
  }
}
@media screen and (max-width: 728px) {
  /* line 546, ../sass/style.scss */
  .archive .col4 .preview {
    min-height: auto;
  }
}
/* line 555, ../sass/style.scss */
.archive .preview {
  margin-bottom: 50px;
  text-decoration: none;
  display: block;
  color: #333;
}
/* line 562, ../sass/style.scss */
.archive .preview:hover .title-article {
  color: #968538;
}
/* line 566, ../sass/style.scss */
.archive .preview:hover img {
  opacity: .8;
}
/* line 570, ../sass/style.scss */
.archive .preview img {
  width: 100%;
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 575, ../sass/style.scss */
.archive .preview .description {
  font-size: 16px;
  color: #777;
}
/* line 579, ../sass/style.scss */
.archive .preview .read-more {
  padding-left: 15px;
  position: relative;
  margin-top: 12px;
  transition: .3s;
  -webkit-transition: .3s;
  cursor: pointer;
}
/* line 586, ../sass/style.scss */
.archive .preview .read-more:before {
  content: '';
  width: 10px;
  height: 1px;
  background: #222;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 599, ../sass/style.scss */
.archive .preview .read-more:hover {
  padding-left: 20px;
}
/* line 602, ../sass/style.scss */
.archive .preview .read-more:hover:before {
  width: 15px;
}
/* line 607, ../sass/style.scss */
.archive .preview .title-article {
  font-family: "bebas-neue";
  letter-spacing: .05em;
  transition: .3s;
  -webkit-transition: .3s;
}

/* line 618, ../sass/style.scss */
.form {
  margin-top: 30px;
}
/* line 621, ../sass/style.scss */
.form .description {
  margin-bottom: 30px;
  color: #888;
  letter-spacing: .04em;
  font-family: "open sans";
}
/* line 627, ../sass/style.scss */
.form .description ul {
  padding-top: 20px;
  padding-left: 17px;
}
/* line 632, ../sass/style.scss */
.form input, .form textarea {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 12px;
  font-size: 14px;
  border: 1px solid #CDCDCD;
  font-family: "open sans";
}
/* line 641, ../sass/style.scss */
.form input:focus, .form textarea:focus {
  outline: none;
  border-color: #968538;
}
/* line 646, ../sass/style.scss */
.form textarea {
  padding-top: 10px;
  height: 90px;
  resize: none;
}
/* line 651, ../sass/style.scss */
.form input[type="submit"] {
  width: auto;
  padding: 0 20px;
  color: #fff;
  border: 0;
  background: #333;
  font-family: "bebas-neue";
  letter-spacing: .08em;
  margin-left: auto;
  display: block;
}

/* line 666, ../sass/style.scss */
.img-actualite img {
  height: auto;
  width: 100%;
}

/* line 671, ../sass/style.scss */
.date-post {
  margin-top: 10px;
}

/* line 675, ../sass/style.scss */
.title-article-actuality {
  font-family: "bebas-neue";
  margin-top: 0;
}

/* line 680, ../sass/style.scss */
.article-actu {
  margin-bottom: 30px;
}

/* line 684, ../sass/style.scss */
.logo-partners {
  width: 100%;
  margin-bottom: 30px;
}

/* line 689, ../sass/style.scss */
.title-bloque {
  font-family: "bebas-neue";
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.08);
  padding-bottom: 20px;
}

/* line 697, ../sass/style.scss */
.text-soutenir {
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  color: #888;
  letter-spacing: .04em;
  font-family: "open sans";
  border-bottom: 1px solid rgba(34, 34, 34, 0.08);
}
